In [ ]:
!pip install mysql

In [ ]:
!pip install mysql.connector

In [ ]:
!pip install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Techno",
  auth_plugin="mysql_native_password"
)

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute("DROP DATABASE mulesoft")
mycursor.execute("CREATE DATABASE mulesoft")

In [5]:
mycursor.close()

True

In [6]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Techno",
  auth_plugin="mysql_native_password",
  database = "mulesoft"
)

In [7]:
mycursor = mydb.cursor()

In [8]:
mycursor.execute("CREATE TABLE movies (movies_name VARCHAR(255), actor_name VARCHAR(255), actress_name VARCHAR(255), director_name VARCHAR(255), year_of_release INTEGER)");

In [9]:
sql = "INSERT INTO movies (movies_name, actor_name, actress_name, director_name, year_of_release) VALUES (%s, %s, %s, %s, %s)"

In [10]:
val = ("Phir Hera Pheri", "Akshay Kumar", "Rimi Sen", "Neeraj Vora", 2006)
mycursor.execute(sql, val)

val = ("Hum Saath Saath h", "Salman Khan", "Karishma Kapoor", "Sooraj Barjatya", 1999)
mycursor.execute(sql, val)

val = ("Hum Apke Hai Kon", "Salman Khan", "Madhuri Dixit", "Sooraj Barjatya", 1994)
mycursor.execute(sql, val)

val = ("Munna Bhai M.B.B.S.", "Sanjay Datt", "Gracy Singh", "Raj Kumar Hirani", 2003)
mycursor.execute(sql, val)

val = ("Lage Raho Munna Bhai", "Sanjay Datt", "Vidhya Balan", "Raj Kumar Hirani", 2006)
mycursor.execute(sql, val)

val = ("Singham", "Ajay Devgen", "Kajal Agarwal", "Rohit Shetty", 2011)
mycursor.execute(sql, val)

val = ("Singham Returns", "Ajay Devgen", "Kareena Kapoor", "Rohit Shetty", 2014)
mycursor.execute(sql, val)

mydb.commit()

In [11]:
mycursor.execute("SELECT * FROM movies")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Phir Hera Pheri', 'Akshay Kumar', 'Rimi Sen', 'Neeraj Vora', 2006)
('Hum Saath Saath h', 'Salman Khan', 'Karishma Kapoor', 'Sooraj Barjatya', 1999)
('Hum Apke Hai Kon', 'Salman Khan', 'Madhuri Dixit', 'Sooraj Barjatya', 1994)
('Munna Bhai M.B.B.S.', 'Sanjay Datt', 'Gracy Singh', 'Raj Kumar Hirani', 2003)
('Lage Raho Munna Bhai', 'Sanjay Datt', 'Vidhya Balan', 'Raj Kumar Hirani', 2006)
('Singham', 'Ajay Devgen', 'Kajal Agarwal', 'Rohit Shetty', 2011)
('Singham Returns', 'Ajay Devgen', 'Kareena Kapoor', 'Rohit Shetty', 2014)

In [12]:
mycursor.execute("SELECT actor_name FROM movies where year_of_release = 2006")

myresult = mycursor.fetchall()

for x in myresult:
  print(x[0])

Akshay Kumar
Sanjay Datt